<section class="h-100" fxLayout="row" fxLayoutAlign="center center">
  <form class="m-form" fxLayout="column" (ngSubmit)="onSubmit()" [formGroup] = "editUserForm">
    <mat-form-field floatLabel= "always">
      <mat-label>Nome Usuário</mat-label>
      <input matInput  formControlName="name">
    </mat-form-field>
  
    <mat-form-field floatLabel= "always">
      <mat-label>Emprego</mat-label>
      <input matInput required formControlName="job">
      <mat-error *ngIf="editUserForm.get('job').hasError('required')">Este campo é obrigatório</mat-error>
      <mat-error *ngIf="editUserForm.get('job').hasError('pattern')">Emprego inválido</mat-error>
    </mat-form-field>
  
    <button type="submit" [disabled]="!editUserForm.valid" mat-raised-button color="primary" class="w-100">Editar</button>
    <app-spinner [isVisible] = "showSpinner"></app-spinner>
  </form>
</section>
