.m-pagination{
    margin-top: 10px;
}

.m-pagination button{
    margin-left: 5px;
}

.m-filter-form button{
    margin-left: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
