.m-userForm{
    padding: 40px;
    background: #fff;
    width: 500px;
    box-shadow: 0 0 10px #ddd;
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset;
    }
}

.mat-form-field{
    margin-bottom: 10px;
}