<div class="table-container">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar por Nome/ID">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> <img [src]="element.avatar" /> </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.first_name + " " + element.last_name}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>  </th>   
        <td mat-cell *matCellDef="let element"> 
          <button class="tb-btn" mat-raised-button (click)="editUser(element.id)">editar</button>
          <button class="tb-btn danger" mat-raised-button (click)="openDeleteDialog(element.id)">excluir</button>  
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[3, 6]" showFirstLastButtons></mat-paginator>
  <app-spinner [isVisible] = "showSpinner"></app-spinner>
</div>

