.table-container{
    position: relative;
}

table {
    width: 100%;
}

.mat-column-id{
    width: 20%;
}

.mat-column-name{
    width: 20%;
}

.mat-column-actions{
    width: 40%;
}

.tb-btn{
    margin-left: 10px;
}

@media screen and (max-width:1024px){
    .mat-column-avatar{
        display: none;
    }
}

