html,
body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fontil Sans';
}

.main-container {
    position: absolute;
    top: 64px;
    left: 250px;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.m-form{
    position: relative;
    padding: 40px;
    background: #fff;
    width: 500px;
    box-shadow: 0 0 10px #ddd;
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset;
    }
}

.mat-form-field{
    margin-bottom: 10px;
}

.m-messages{
    margin-top: 10px;
}

.m-dialog{
    position: relative;
    text-align: center;
    line-height: calc(1em * 1.618);
    width: calc(20px * (1em/1.618));
}

.succes{
    color: #5cb85c;
}

.danger{
    color: #d9534f;
}

.mb-20 {
    margin-bottom: 20px;
}

@media screen and (max-width:960px){
    body {
        font-size: 16px;
    }
}
